target/*.*
target/classes/*.*

target/maven-archiver/pom.properties
target/classes/application.properties
target/classes/cloudformation-deploy/README.md
target/classes/cloudformation-deploy/stack-config.json
target/classes/cloudformation-deploy/very-simple-ec2-deploy.template.yml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/2020-09-28T12-04-37_574-jvmRun1.dump
target/surefire-reports/com.example.ApplicationTests.txt
target/surefire-reports/TEST-com.example.ApplicationTests.xml
target/test-classes/com/example/ApplicationTests.class
target/classes/cloudformation-deploy/minimal-ec2-deploy.template.yml
target/classes/com/example/Application.class
.vscode/settings.json
target/classes/com/example/AwsConfig.class
target/classes/com/example/EnvironmentController.class
target/classes/com/example/InstanceMetadata.class
target/classes/com/example/KillController.class
target/classes/com/example/KillService.class
target/classes/com/example/NonAwsConfig.class
target/classes/com/example/ServletInitializer.class
target/classes/com/example/util/Ec2EnvironmentCheckUtils.class
target/classes/com/example/util/Ec2InstanceMetadataPropertySource.class
target/classes/com/example/util/NotWithinEc2Environment.class
target/classes/com/example/util/NotWithinEc2EnvironmentCondition.class
target/classes/com/example/util/WithinEc2Environment.class
target/classes/com/example/util/WithinEc2EnvironmentCondition.class
target/classes/static/AWS_Logo_Web_200px.png
target/classes/static/bootstrap-theme.min.css
target/classes/static/bootstrap.min.css
target/classes/templates/environment.html
