target/*.*
target/classes/*.*

target/maven-archiver/pom.properties
target/classes/application.properties
target/classes/cloudformation-deploy/README.md
target/classes/cloudformation-deploy/stack-config.json
target/classes/cloudformation-deploy/very-simple-ec2-deploy.template.yml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/2020-09-28T12-04-37_574-jvmRun1.dump
target/surefire-reports/com.example.ApplicationTests.txt
target/surefire-reports/TEST-com.example.ApplicationTests.xml
target/test-classes/com/example/ApplicationTests.class
target/classes/cloudformation-deploy/minimal-ec2-deploy.template.yml
target/classes/com/example/Application.class
